<BOUCLE_this(REVUES){id_revue}>
<div class="container-fluid" data-type="texte" data-speed="0.2" data-type="background" slide-width="0.33">
	<div class="row-fluid">
		<div class="span1">
			<div>
				<h3[ class="(#EDIT{titre})"]>#TITRE</h3>
				<p class="separator">/</p>
				<div class="texte[ (#EDIT{texte})]">
				#TEXTE
				</div>
				<p class="footer"><a href="javascript:void(0)" class="next">Continuer</a></p>
			</div>
		</div>
	</div><!-- /row-fluid -->
</div><!-- /container -->
</BOUCLE_this>