<BOUCLE_this(REVUES){id_revue}>
<div class="container-fluid" data-type="revue" data-speed="0.2"[ style="background-image: url('(#LOGO_REVUE|extraire_attribut{src}|url_absolue)');"]  data-type="background" slide-width="0.33">
	<div class="row-fluid">
		<div class="span3 card">
			<div>
				<h3[ class="(#EDIT{titre})"]>[<a href="(#URL)" class="external">#TITRE</a>]</h3>
				[<a href="#URL" target="_blank">(#MEDIA)</a>]
				<p class="separator">/</p>
				<div class="texte[ (#EDIT{texte})]">
				#EXTRAIT
				</div>
			</div>
		</div>
	</div><!-- /row-fluid -->
</div><!-- /container -->
</BOUCLE_this>