@import url(http://fonts.googleapis.com/css?family=Buenard:400,700|Open+Sans:400,300,700);
.buenard {
  font-family: 'Buenard', 'Time New Roman', serif;
}
.open {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.cross {
  background-image: url(../img/cross.png);
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  display: block;
}
#wave {
  position: fixed;
  width: 100%;
  top: 35%;
  z-index: 100;
  padding: 0;
  text-align: center;
  height: 1px;
}
#wave .center {
  width: 1px;
  position: relative;
  margin: 0 auto;
}
#wave #thepng-white,
#wave #thepng-red {
  background-image: url(../img/wave.png);
  background-repeat: no-repeat;
  height: 88px;
  width: 156px;
  display: block;
  z-index: 900;
  margin-left: -280px;
  background-position: 0 100%;
  position: absolute;
}
#thepng-red {
  opacity: 0;
  background-position: 0 0 !important;
}
/* Global */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #ffffff;
  color: #32312c;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 22px;
  /* margin-top: 60px; */

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}
p {
  margin: 0 10px 10px 0;
}
a {
  color: #F1F1F1;
  text-decoration: none;
}
a:hover {
  color: #F5F5F5;
  text-decoration: none;
}
#logo {
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
#logo .inner-logo img {
  opacity: 1;
  margin-top: 110px;
  -webkit-transition: opacity 300ms 200ms;
  -moz-transition: opacity 300ms 200ms;
  -o-transition: opacity 300ms 200ms;
  transition: opacity 300ms 200ms;
}
#logo .geo {
  opacity: 0;
  -webkit-transition: opacity 200ms 0ms;
  -moz-transition: opacity 200ms 0ms;
  -o-transition: opacity 200ms 0ms;
  transition: opacity 200ms 0ms;
  margin-left: -20px;
  position: absolute;
  width: 300px;
  margin-top: -74px;
  font-size: 16px;
  color: #e0241a;
  font-weight: 700;
}
#logo:hover .inner-logo img {
  opacity: 0;
  -webkit-transition: opacity 200ms 0s;
  -moz-transition: opacity 200ms 0s;
  -o-transition: opacity 200ms 0s;
  transition: opacity 200ms 0s;
}
#logo:hover .inner-logo .geo {
  opacity: 1;
  -webkit-transition: opacity 400ms 200ms;
  -moz-transition: opacity 400ms 200ms;
  -o-transition: opacity 400ms 200ms;
  transition: opacity 400ms 200ms;
}
/* General Styling */#container {
  position: relative;
  transition: transform 500ms ease 0s;
  width: 100%;
  z-index: 0;
}
.section {
  transform: translate3d(0, 0, 0);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  display: table;
  width: 100%;
  font-family: 'Buenard', 'Time New Roman', serif;
  font-size: 13px;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
}
.section h2 {
  color: #ffffff;
  font-size: 52px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'Buenard', 'Time New Roman', serif;
  text-align: left;
  position: absolute;
  margin: 0;
  top: 50%;
  margin-top: -0.13em;
}
.scroller-control {
  top: 50%;
  position: absolute;
  height: 30px;
  width: 30px;
  background: #2e2e2e;
  color: white;
  font-weight: bold;
  font-size: 27px;
  line-height: 22px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.scroller-control.prev {
  left: 4%;
  z-index: 900;
}
.scroller-control.next {
  right: 4%;
  z-index: 900;
}
.scroller {
  display: block;
}
.scroller[slide-first="true"] .scroller-control.prev,
.scroller[slide-last="true"] .scroller-control.next {
  display: none;
}
.scroller.no-slide-padding-left .container-fluid {
  padding-left: 0;
}
.scroller .container-fluid-scroller {
  display: table;
  position: relative;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background-color: #32312c;
  word-break: break-word;
}
.scroller.sticky {
  word-break: break-word;
}
.scroller.sticky .current-only .card {
  position: fixed;
}
.scroller.sticky .container-fluid-scroller > .container-fluid:first-child[current=false] .current-only {
  width: 0;
  opacity: 0;
  height: 0;
}
.scroller.sticky .container-fluid-scroller > .container-fluid:first-child .row-fluid {
  z-index: 11;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.scroller.sticky .container-fluid-scroller > .container-fluid:first-child .row-fluid .current-only {
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#contact .title {
  position: absolute;
}
.title {
  position: absolute;
  top: 43%;
  left: 0px;
}
.title h2 {
  left: 160px;
  position: absolute;
}
.bgfix .container-fluid-scroller {
  background-color: transparent;
}
[data-type="background"] {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container-fluid {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-fluid > .row-fluid {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
  position: relative;
}
.container-fluid.citation {
  background-color: #32312c;
  color: #d6d6d6;
  font-size: 27px;
  line-height: 1.5;
}
.container-fluid.citation p {
  margin-bottom: 20px;
}
.container-fluid.citation .small {
  font-size: 16px;
}
.container-fluid.citation em {
  font-style: normal;
  color: #d1002d;
}
.container-fluid.citation .footer {
  font-weight: bold;
  margin-top: 25px;
  font-size: 11px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container-fluid.citation .footer a {
  text-decoration: none;
}
.container-fluid.citation .footer a:hover {
  text-decoration: underline;
}
.container-fluid.citation .texte {
  padding: 20px 20%;
  color: #a4a299;
}
.container-fluid.citation .texte b,
.container-fluid.citation .texte strong {
  color: #e2231a;
}
.container-fluid.citation.hasBg.texte {
  color: #FFF;
}
.video-card {
  color: #31302b;
  font-family: 'Buenard', 'Time New Roman', serif;
  text-align: center;
  background-color: #32312c;
  padding: 14px;
}
.video-card h3 {
  text-decoration: underline;
}
.darkness {
  background-color: #32312c;
}
.darkness .card {
  border: 0;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: none;
}
.darkness .card div {
  background: none;
}
.darkness .card .texte {
  padding: 5% 15%;
}
.darkness .card .texte h3 {
  color: #ffffff;
}
.darkness .card .texte p {
  color: #ffffff;
  font-size: 16px;
}
.darkness .card .texte b,
.darkness .card .texte strong {
  color: #e2231a;
  font-weight: normal;
}
.card {
  border: 10px solid #ffffff;
  color: #32312c;
  font-family: 'Buenard', 'Time New Roman', serif;
  text-align: center;
}
.card .span1.plus.card {
  width: 380px;
  max-width: 100%;
}
.card .hover-zone .primary,
.card .hover-zone .secondary {
  -webkit-transition: opacity 200ms 0s;
  -moz-transition: opacity 200ms 0s;
  -o-transition: opacity 200ms 0s;
  transition: opacity 200ms 0s;
}
.card .hover-zone .primary {
  position: absolute;
  top: 24%;
  left: 10px;
  right: 10px;
}
.card .hover-zone .secondary {
  float: left;
  opacity: 0;
}
.card .hover-zone:hover .primary {
  opacity: 0;
}
.card .hover-zone:hover .secondary {
  opacity: 1.0;
}
.card .texte p {
  padding: 10px 6%;
  font-size: 14px;
  color: #32312c;
}
.card .texte h3:first-child {
  font-size: 20px;
  margin-top: 30px;
}
.card .texte h3 {
  font-size: 20px;
  margin: 60px 30px 0px 30px;
  text-decoration: none;
}
.card .link {
  line-height: 18px;
  padding: 10px 0px 0px;
  display: block;
  text-align: center;
}
.card a:link,
.card a:visited {
  color: inherit;
}
.card a:hover,
.card a:active {
  text-decoration: underline;
}
.card.fixed-height {
  position: relative;
}
.card.fixed-height > * {
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}
.card.center {
  display: inline-block;
  margin: 0 auto;
  float: none;
}
.card > * {
  padding: 13px;
  font-size: 13px;
  margin: 1px;
  background: #ffffff;
  position: relative;
}
.card.span1.plus {
  width: 45%;
}
.card.span2.plus {
  width: 80%;
}
.revue .card h3,
.revue .card a {
  text-decoration: underline;
}
.video.texte {
  width: 542px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  font-size: 16px;
}
.card.first > div,
.video-card.first > div {
  padding: 100px 0px;
}
.card h3,
.video-card h3 {
  font-family: 'Buenard', 'Time New Roman', serif;
  font-size: 24px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  color: #31302b;
  white-space: normal;
  line-height: 24px;
  margin: 20px 20px 20px;
  text-align: center;
  font-weight: bold;
}
.card h3 + a,
.video-card h3 + a {
  top: -15px;
  position: relative;
  color: #555;
}
.card p,
.video-card p {
  margin: 10px 0 0px 0;
  display: inline-block;
}
.card .notes,
.video-card .notes {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #474747;
}
.card.first .footer,
.video-card.first .footer {
  margin-bottom: -90px;
}
.card .footer a:link,
.video-card .footer a:link,
.card .footer a:visited,
.video-card .footer a:visited {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.card .footer a:hover,
.video-card .footer a:hover,
.card .footer a:active,
.video-card .footer a:active {
  text-decoration: underline;
}
.card .footer a:after,
.video-card .footer a:after {
  content: url(../img/arright_expo.png);
  font-size: 24px;
  display: inline-block;
  padding: 0px 0px 0px 5px;
}
.card .footer a:hover:after,
.video-card .footer a:hover:after {
  padding: 0px 0px 0px 10px;
  -webkit-transition: padding 200ms linear;
  -moz-transition: padding 200ms linear;
  -o-transition: padding 200ms linear;
  transition: padding 200ms linear;
}
/* Fixed-Borders & Wrapper Style*/
#wrapper {
  position: absolute;
  top: 19px;
  left: 19px;
  right: 19px;
}
.fixed-border {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  border-width: 19px;
  border-color: white;
  border-style: none;
  z-index: 20;
}
.fixed-border > div {
  position: fixed;
  background: white;
  top: 21px;
  right: 21px;
  bottom: 21px;
  left: 21px;
}
#fixed-border-top {
  bottom: initial;
  border-top-style: solid;
}
#fixed-border-top > div {
  height: 5px;
  bottom: initial;
}
#fixed-border-right {
  left: initial;
  border-right-style: solid;
}
#fixed-border-right > div {
  width: 5px;
  left: initial;
}
#fixed-border-bottom {
  top: initial;
  border-top-style: solid;
}
#fixed-border-bottom > div {
  height: 5px;
  top: initial;
}
#fixed-border-left {
  right: initial;
  border-right-style: solid;
}
#fixed-border-left > div {
  width: 5px;
  right: initial;
}
/* navbar */
.navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
  top: 26px;
}
.navbar > .responsive-menu-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 45px;
  margin-top: -12px;
  font-size: 22px;
}
.navbar > .nav {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  height: 100%;
  float: none;
}
.navbar > .nav:before {
  content: " ";
  position: absolute;
  margin-left: -30px;
  margin-top: 10px;
  background-image: url(../img/fb.png);
  background-position: -35px 0px;
  background-repeat: no-repeat;
  height: 59px;
  width: 40px;
}
.navbar > .nav > li {
  display: table-cell;
  text-transform: uppercase;
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  padding: 0 25px;
  background: none;
  float: none;
}
.navbar > .nav > li.fb {
  padding-left: 120px;
}
.navbar > .nav > li > a {
  color: white;
  background: none;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.navbar > .nav > li > a,
.navbar > .nav > li a:active,
.navbar > .nav > li > a:hover,
.navbar > .nav > li.active > a,
.navbar > .nav > li.active > a:hover {
  display: table-cell;
  float: left;
  color: white;
  padding: 0;
  background: none;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.navbar > .nav > li > a:active,
.navbar > .nav > li > a:hover,
.navbar > .nav > li.active > a,
.navbar > .nav > li.active > a:hover {
  text-decoration: underline;
}
.navbar > .nav > li.show-secondary .secondary {
  display: table-cell;
}
.navbar > .nav > li .secondary {
  padding: 0;
  display: none;
  list-style: none;
  font-size: 10px;
  position: absolute;
}
.navbar > .nav > li .secondary a:active,
.navbar > .nav > li .secondary a:hover,
.navbar > .nav > li .secondary .active > a,
.navbar > .nav > li .secondary .active > a:hover {
  text-decoration: underline;
}
.section .letter-back {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  border-color: transparent white white;
  border-style: solid;
  border-width: 93px 221px 102px;
  margin-top: 60px;
  right: -1px;
  left: -1px;
  /* Edge Smoothing hack */

  -webkit-transform: rotate(0.05deg);
  -moz-transform: scale(1.0001);
  -o-transform: rotate(0.005deg);
}
.section .letter-back + .container-fluid {
  position: relative;
}
.section .letter-back + .container-fluid a {
  color: #31302b;
  text-decoration: underline;
}
.section .letter-back + .container-fluid h2 {
  color: #e2231a;
}
/* Section Specific Styles */
#videos .title {
  top: 50%;
  position: absolute;
  left: 10%;
  margin-top: -50px;
}
#videos .container-fluid {
  padding-left: 0;
}
#videos .container-fluid-scroller {
  margin-left: 25%;
}
.card .separator {
  font-style: italic;
  font-weight: bold;
  color: #e2231a;
  padding: 0px;
  font-size: 18px;
  margin: 0px 0px 10px;
}
#section5 .card {
  overflow: hidden;
  height: 600px;
}
#section5 .card > div {
  height: 578px;
}
#section5 .card > div .wrapcard {
  display: block;
  vertical-align: middle;
}
#section5 .card > div .texte {
  padding: 0px;
}
.tcell {
  display: table-cell;
  vertical-align: middle;
  height: 560px;
}
#contact p {
  font-size: 14px;
}
#contact h2 {
  font-size: 56px;
  position: relative;
  padding: 0px 0px 40px;
  margin: -40px 0px 0px;
}
#contact form {
  text-align: center;
  max-width: 500px;
  margin: 0px auto 20px;
  color: #94928a;
}
#contact form * {
  text-align: left;
}
#contact form p {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  color: #5b5950;
  margin-bottom: 5px;
  display: inline-block;
}
#contact form input {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 13px 5px;
  font-family: 'Buenard', 'Time New Roman', serif;
  vertical-align: top;
  width: 90%;
}
#contact form input[type="submit"] {
  text-align: center;
  background: #EDEDED;
  border: none;
  color: red;
  clear: both;
  display: block;
  padding: 2px 10px;
  line-height: 30px;
  margin-top: -1px;
  width: inherit;
}
#contact .spacetop {
  margin-top: 280px;
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
}
.separator {
  border-top: 1px solid #CCC;
}
.helpinline {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 200px;
  background: #32312c;
  padding: 20px;
  color: #ffffff;
}
.helpinline img {
  opacity: 0.5;
}
.helpinline img:before:hover {
  content: "Changer";
  position: absolute;
}
.helpinline img:hover {
  background-color: #ffffff;
}
.contactbloc {
  width: 20%;
  display: inline-block;
  margin-top: 5px;
}
.contactbloc.large {
  width: 30%;
}
.helpadmin {
  padding: 30px;
  width: 100%;
  background-color: #32312c;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}
.helpadmin .edition {
  padding: 10px;
  display: block;
}
/* Media Queries */
@media screen and (min-width: 1800px) {
  
}
@media screen and (max-width: 1320px) {
  
}
@media screen and (min-width: 1200px) {
  
}
@media screen and (max-width: 1199px) {
  .row-fluid .span3 {
    width: 100%;
  }
  .section h2 {
    font-size: 32px;
    text-align: center;
    line-height: 32px;
  }
  .container-fluid {
    padding-left: 75px;
    padding-right: 75px;
  }
  .container-fluid.revue {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-fluid.citation p {
    margin: 0px;
  }
  .container-fluid.citation .texte {
    padding: 20px 5%;
    color: #a4a299;
    font-size: 22px;
  }
  .darkness .card .texte {
    padding: 5%;
  }
}
@media screen and (max-width: 979px) {
  .section .title hr {
    margin-top: 40px;
  }
  .section .desc .span8 {
    width: 100%;
  }
  #accueil .intro h1 {
    font-size: 70px;
    font-size: 7.0rem;
    line-height: 70px;
  }
  #accueil .intro h3 {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 22px;
  }
  #section5 .content .span4 {
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #accueil .intro h3 {
    width: 85%;
  }
  #a-propos .content .expand {
    width: 48.6188%;
  }
  #contact .content .expand {
    width: 100%;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0px;
  }
  .section .content {
    margin-top: 0;
  }
  .section .content .pull-right {
    float: left;
  }
  .section h2 {
    margin: 20px auto;
    position: relative;
  }
  .section h4 {
    margin-top: 30px;
  }
  .section .title hr {
    margin-left: 0px;
  }
  #accueil .intro {
    margin: 120px 0;
  }
  #accueil .intro h3 {
    width: 55%;
  }
  #expositions .content img {
    margin-top: 30px;
    padding: 1.5%;
  }
  #section5 .span8 {
    margin-top: 30px;
  }
  .navbar .nav {
    display: none;
  }
  .navbar .responsive-menu-button {
    display: inline-block;
  }
  .container-fluid {
    padding: 50px 0px;
  }
  .short .title {
    left: 0px;
    text-align: left;
  }
  .short .title h2 {
    left: 0;
    text-align: center;
  }
  body {
    padding: 0;
  }
  body .title {
    position: relative;
    top: inherit;
    left: inherit;
    width: 0;
  }
  body #wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  body #contact {
    background-color: #FFF;
  }
  body #contact .spacetop {
    display: none;
  }
  body #contact .title {
    position: relative;
    width: inherit;
    text-align: center;
  }
  body #contact .title h2 {
    padding-top: 20px;
    left: 0;
  }
  body #contact .letter-back {
    display: none;
  }
  body #contact h2 {
    text-align: center;
  }
  body #contact form {
    margin: 0 auto;
  }
  body #contact form p {
    font-size: 18px;
    display: block;
    text-align: center;
  }
  body #contact form div {
    text-align: center;
  }
  body #contact form input {
    margin: 10px auto 0px;
    clear: both;
    width: 80%;
    font-size: 16px;
  }
  body #contact form input[type="submit"] {
    padding: 5px;
    width: 80%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  body .short .title {
    position: relative;
    width: 100%;
  }
  body .navbar {
    top: 0;
  }
  body #logo {
    width: 240px;
    height: 240px;
  }
  body #logo .inner-logo img {
    margin-top: 80px;
  }
  body #logo .inner-logo .geo {
    width: 230px;
  }
  .fixed-border {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .container-fluid {
    padding: 0;
  }
  .container-fluid .row-fluid {
    width: 100%;
    padding: 0;
  }
  .container-fluid .row-fluid .span3.card {
    min-width: 300px;
  }
  .container-fluid .row-fluid .span1.plus.card {
    width: 320px;
    max-width: 100%;
  }
  #contact form {
    margin-left: 0;
  }
  #contact h2 {
    margin-top: 0px;
  }
}
@media screen and (max-height: 860px) {
  #section5 .card {
    height: 500px;
  }
  #section5 .card > div {
    height: 478px;
  }
  #section5 .card > div .tcell {
    height: 460px;
  }
}
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #f8f8f8;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px 5px #ebebeb;
  -moz-box-shadow: inset 0 0 5px 5px #ebebeb;
  box-shadow: inset 0 0 5px 5px #ebebeb;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.right {
  left: auto;
  right: -260px;
}
.sidr.left {
  left: -260px;
  right: auto;
}
.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #333;
  line-height: 24px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(#ffffff, #dfdfdf);
  background-image: -moz-linear-gradient(#ffffff, #dfdfdf);
  background-image: -o-linear-gradient(#ffffff, #dfdfdf);
  background-image: linear-gradient(#ffffff, #dfdfdf);
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.sidr p {
  font-size: 13px;
  margin: 0 0 12px;
}
.sidr p a {
  color: rgba(51, 51, 51, 0.9);
}
.sidr > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #ffffff;
}
.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf;
}
.sidr ul li:hover,
.sidr ul li.active,
.sidr ul li.sidr-class-active {
  border-top: none;
  line-height: 49px;
}
.sidr ul li:hover > a,
.sidr ul li:hover > span,
.sidr ul li.active > a,
.sidr ul li.active > span,
.sidr ul li.sidr-class-active > a,
.sidr ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
  box-shadow: inset 0 0 15px 3px #ebebeb;
}
.sidr ul li a,
.sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #333333;
}
.sidr ul li ul {
  border-bottom: none;
  margin: 0;
}
.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px;
}
.sidr ul li ul li:last-child {
  border-bottom: none;
}
.sidr ul li ul li:hover,
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px;
}
.sidr ul li ul li:hover > a,
.sidr ul li ul li:hover > span,
.sidr ul li ul li.active > a,
.sidr ul li ul li.active > span,
.sidr ul li ul li.sidr-class-active > a,
.sidr ul li ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
  box-shadow: inset 0 0 15px 3px #ebebeb;
}
.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(51, 51, 51, 0.8);
  padding-left: 30px;
}
.sidr form {
  margin: 0 15px;
}
.sidr label {
  font-size: 13px;
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(51, 51, 51, 0.6);
  display: block;
  clear: both;
}
.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none;
}
.sidr input[type=button],
.sidr input[type=submit] {
  color: #f8f8f8;
  background: #333333;
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(51, 51, 51, 0.9);
}
